<center>
  <div class="forms-container">
    <div class="row justify-content-center text-left">
      <div class="card-body shadow col-8 m-5 bg-white rounded">
      <h3>ADD RISK FACTOR</h3>
      <hr>
      <p class="mb-4">(*) are mandatory fields</p>
      <%= simple_form_for [@case, @case_risk] do |cr| %>
        <%= cr.association :risk, collection: CaseRisk::RISKS, input_html: { class: "input" }, placeholder: 'Select A Risk Factor' %>
        <%= cr.full_error :token %>
        <%= link_to "BACK", case_path(@case), class: 'btn btn-b btn-sm mt-1 font-weight-light p-2' %>
        <%= cr.submit 'ADD RISK FACTOR', class: "btn btn-b btn-sm mt-1 font-weight-light p-2" %>
      <% end %>
      </div>
    </div>
  </div>
</center>
