<h1 class="main-card-title mt-3 pb-2 pt-3 pl-5 pr-5">Case List</h1>
<div class="cards pl-5 pr-5">
  <% @cases.each do |c| %>
  <div class="card-body shadow-sm p-3 mb-2 bg-white rounded">
    <h5 class="card-title <%= c.priority_color %>"><%= c.family_name %> | <%= c.start_date %></h5>
    <h6 class="card-subtitle text-muted">Case #: <%= c.case_number %></h6>
    <p class="card-text"><%= c.summary %></p>
    <p class="card-text"><%= c.priority_action %></p>
    <p class="card-delete mt-2"><%= link_to "VIEW", case_path(c), class: 'btn btn-secondary rounded-pill btn-sm' %> &nbsp <%= link_to "DELETE", case_path(c), class: 'btn btn-secondary rounded-pill btn-sm', method: :delete %></p>
  </div>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <% end %>
</div>
