<h1 class="main-card-title mt-3 pb-2 pt-3 pl-5 pr-5">URGENT</h1>

<div class="cards flex-row">
  <% @cases.each do |c| %>
    <%= link_to case_path(c) do %>
      <div class="card-case d-flex bg-white">
        <div>
          <div class="p-2">
            <img class="avatar" src="https://res.cloudinary.com/louixa/image/upload/v1560217936/photo-1502073018433-36374b61ce42_dyf3vw.jpg">
          </div>
          <div class="p-2"><h5><%= c.family_name %> | Date Opened: <%= c.start_date %></h5></div>
          <h6 class="card-subtitle text-muted p-2">Case #: <%= c.case_number %></h6>
          <div class="align-self-center">
            <p><%= c.priority_action %></p>
            <p class="btn-index btn-sm mt-2 p-2 <%= c.priority_color %>"><%= c.priority_action_date %></p>
          </div>
        </div>
        <div class="map h-100" style="width: 300px" id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!--
<h1 class="main-card-title mt-3 pb-2 pt-3 pl-5 pr-5">MY CASES</h1>

<div class="cards d-flex flex-row">
  <% @cases.each do |c| %>
  <%= link_to case_path(c) do %>
  <div class="card-case align-self-start bg-white">
    <h5><%= c.family_name %> | Date Opened: <%= c.start_date %></h5>
    <h6 class="card-subtitle text-muted">Case #: <%= c.case_number %></h6>
  </div>
    <div class="align-self-center">
      <p><%= c.priority_action %></p>
      <p class="btn-index btn-sm mt-2 p-2 <%= c.priority_color %>"><%= c.priority_action_date %></p>
    </div>
  </div>
  <% end %>
  <% end %>
</div>


 -->
