<% if @urgent_cases.any? %>
<h1 class="main-card-title pb-2 pt-3 pl-5 pr-5">URGENT</h1>
<div class="cards flex-row">
    <% @urgent_cases.each do |c| %>
      <%= link_to case_path(c) do %>
      <div class="card-case m-5 pl-2 d-flex bg-white">
        <div>
          <div class="pt-2">
          </div>
          <div><h5><img class="avatar" src="https://res.cloudinary.com/louixa/image/upload/v1560217936/photo-1502073018433-36374b61ce42_dyf3vw.jpg"> &nbsp <%= c.family_name %></h5></div>
          <p>Open Date: <%= c.start_date %></p>
          <h6 class="card-subtitle text-muted">Case #: <%= c.case_number %></h6>
          <div class="align-self-center">
            <p><%= c.priority_action %></p>
            <p class="btn-index btn-sm mt-2 mr-5 p-2 <%= c.priority_color %>"><%= c.priority_action_date %></p>
          </div>
        </div>
        <div class="map-card build-map h-100" style="width: 100%" id="map-<%= c.id %>" data-markers="<%= c.markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>

<h1 class="main-card-title pb-2 pt-3 pl-5 pr-5">MY CASES</h1>
<div class="my-cards flex-row">
      <% @cases.each do |c| %>
      <%= link_to case_path(c) do %>
      <div class="my-card-case m-5 pl-2 bg-white">
        <div>
          <div class="pt-2">
          <div><h5><img class="avatar" src="https://res.cloudinary.com/louixa/image/upload/v1560217936/photo-1502073018433-36374b61ce42_dyf3vw.jpg"> &nbsp <%= c.family_name %></h5></div>
          <p>Open Date: <%= c.start_date %></p>
          <h6 class="card-subtitle text-muted">Case #: <%= c.case_number %></h6>
          <div class="align-self-center">
            <p><%= c.priority_action %></p>
            <p class="btn-index btn-sm mt-2 mr-5 p-2 <%= c.priority_color %>"><%= c.priority_action_date %></p>
          </div>
        </div>
        </div>
      </div>
    <% end %>
    <% end %>
</div>
