<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/louixa/image/upload/v1560155649/Untitled-1_dsd78u.jpg);">
  <div class="container">
    <h1 class="p-1"><%= @case.family_name %></h1>
    <p class="p-1">Case #: <%= @case.case_number %></a></p>
    <p class="p-1">Subject Child/Children: <%= @case.child_name %></a></p>
    <p class="p-1">Address: <%= @case.address %></a></p>
    <p class="p-1">Phone Numbers: <%= @case.phone_number %></a></p>
    <p class="p-1">Summary: <%= @case.summary %></a></p>
    <p class="p-1"><strong>Status: <%= @case.state %></a></strong></p>
  </div>
</div>








<!-- <div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card-body shadow-sm pt-4 mt-5 bg-white rounded">
        <h5 class="card-title"><%= @case.family_name %></h5>
        <p>Case #:<a class="card-subtitle text-muted"> <%= @case.case_number %></a></p>
        <p>Subject Children:<a class="card-subtitle text-muted"> <%= @case.child_name %></a></p>
        <p>Address:<a class="card-subtitle text-muted"> <%= @case.address %></a></p>
        <p>Phone Numbers:<a class="card-subtitle text-muted"> <%= @case.phone_number %></a></p>
        <p>Summary:<a class="card-subtitle text-muted"> <%= @case.summary %></a></p>
        <p><strong>Status:<a class="card-subtitle text-muted"> <%= @case.state %></a></strong></p>
        <p class="card-safety"><%=link_to "Safety Factors", case_case_safety_factors_path(@case)   %></p>
      </div>
          <%= link_to "ADD NEXT ACTION", new_case_case_action_path(@case), class: 'btn btn-secondary rounded-pill m-2 ml-5' %>

    </div>
      <div class="col-9 card-accordion shadow-sm pt-4 mt-5 bg-white rounded">
        <h5>CASE NOTES</h5>
        <% @case_actions.each do |act| %>
        <button class="accordion mt-2"><%= act.title %>| <%= act.due_date %></button>
        <div class="panel"><p class="p-3 m-3"><%= act.description %></p>
         <hr>
          <p class="p-3"><%= act.report %></p>
          <hr>
          <p class="p-3"><%= link_to "ADD NEW NOTE", edit_case_action_path(act), class: 'btn btn-secondary rounded-pill btn-sm m-2 ml-5 p-2' %></p>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<script>
const acc = document.getElementsByClassName("accordion");
let i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    let panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
 -->
