<center>
  <div class="forms-container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8">
      <h3>Submit your case note</h3>
      <div class="gap-30"></div>
      <p>Please fill in the form. (*) are mandatory columns.</p>
      <%= simple_form_for [@case, @action] do |f| %>
        <%= f.input :report, label: 'Case Note', error: 'Case Note is mandatory, please specify one' %>
        <%= f.input :status %>
        <form action="/action_page.php">
        <p>Please select your status:</p>
          <input type="radio" name="status" value="male"> Unchanged<br>
          <input type="radio" name="status" value="female"> Close<br>
          <input type="radio" name="status" value="other"> Court<br>

          <input type="submit" value="Submit">
        </form>
        <%= f.full_error :token %>
        <%= f.submit 'Save your action', class: "btn btn-outline-dark" %>
      <% end %>
      </div>
    </div>
  </div>
</center>
