<center>
  <div class="forms-container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8">
      <h4 class="mt-4">Add new safety factor</h4>
        <%= simple_form_for [@case, CaseSafetyFactor.new] do |f| %>
        <%= f.input :safety_factor_id,:collection => SafetyFactor.all,:label_method => :fact,:value_method => :id,:label => "Safety Factor" ,:include_blank => false %>
        <%= f.input :reason, as: :text %>
        <%= f.button :submit, class: "btn btn-primary" %>
        <%end%>
      <h4 class="mt-4">Case safety factor</h4>
      <div class="gap-30"></div>
      <% @case_safety_factors.each do |case_safety_factor| %>
      <div class="card text-left w-50">
        <div class="card-header">
          <h5><%= case_safety_factor.safety_factor.fact %></h5>
        </div>
        <div class="card-body">
        <p><%= case_safety_factor.reason %></p>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</center>
