<center>
  <div class="forms-container">
    <div class="row justify-content-center">
      <div class="card-body shadow col-12 col-sm-8 mt-5 rounded">
      <h4 class="m-4">Add A New Safety Factor</h4>
        <%= simple_form_for [@case, CaseSafetyFactor.new] do |f| %>
        <%= f.input :safety_factor_id,:collection => SafetyFactor.all,:label_method => :fact,:value_method => :id,:label => "Safety Factors:" ,:include_blank => false %>
        <%= f.input :reason, as: :text, :label => "Reason(s):"%>
        <%= link_to "BACK", case_path(@case), class: 'btn btn-b btn-sm mt-1 font-weight-light p-2' %>
        <%= f.button :submit, 'ADD SAFETY FACTOR', class: "btn btn-b btn-sm mt-1 font-weight-light p-2" %>
        <%end%>
      <h4 class="mt-4">Selected Safety Factors</h4>
      <div class="gap-30"></div>
      <% @case_safety_factors.each do |case_safety_factor| %>
      <div class="card text-left w-50">
        <div class="card-header">
          <p><%= case_safety_factor.safety_factor.fact %></p>
        </div>
        <div class="card-body">
        <p><%= case_safety_factor.reason %></p>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</center>
