<center>
  <div class="forms-container">
    <div class="row justify-content-center">
      <div class="card-body shadow col-12 col-sm-8 mt-5 bg-white rounded">
      <h3 class="mb-3">New Case Note</h3>
      <%= simple_form_for [@case, @case_action] do |f| %>
      <p><h6>Case Status:</h6>
        <%= f.collection_radio_buttons :status, [['Pending'],['Done']], :first, :last, input_html: { class: "input"}, checked: 'Pending' %></p>
        <%= f.input :report, label: 'Case Note:', input_html: { class: "input", style: "height:150px; width:70%"}, as: :text %>
        <%= f.input :photo, label: 'Upload Photo:', input_html: { class: "photo-upload", style: "margin-left: 30px; width: 95px;" } %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.full_error :token %>
        <p>
          <%= link_to "BACK", case_path(id: @case_action.case_id), class: 'btn btn-b btn-sm mt-1 font-weight-light p-2' %>
          <%= f.submit 'ADD NOTE', class: 'btn btn-b btn-sm mt-1 font-weight-light p-2' %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</center>
