<center>
  <div class="forms-container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8">
      <h3>Submit Your Case Note</h3>
      <div class="gap-30"></div>
      <p>(*) are mandatory entries</p>
      <%= simple_form_for [@case, @case_action] do |f| %>
      <p>Case Status:</p>
        <%= f.collection_radio_buttons :status, [['No Changes'] ,['Court'], ['Close Case']], :first, :last %>
        <%= f.input :report, label: 'Case Note', error: 'Case Note entry cannot be left blank.', as: :text %>
        <%= f.full_error :token %>
        <%= f.submit 'ADD NOTE ', class: 'btn btn-secondary rounded-pill btn-sm m-2 ml-5 p-2' %>
      </div>
      <% end %>
    </div>
  </div>
</center>
