<center>
  <div class="forms-container">
    <div class="row justify-content-center text-left">
      <div class="card-body shadow col-8 m-5 bg-white rounded">
      <h3 class="mb-4">NEW CASE NOTE</h3>
      <hr>
      <%= simple_form_for [@case, @case_action] do |f| %>
      <p>Case Status:  &nbsp <%= f.collection_radio_buttons :status, [['Pending'],['Done']], :first, :last, input_html: { class: "input"}, checked: 'Pending' %></p>
        <p><%= f.input :report, label: 'Case Note:', input_html: { class: "input", style: "height:300px; width:100%"}, as: :text %></p>
        <p><%= f.input :photo, label: 'Upload Photo:', input_html: { class: "photo-upload", style: "margin-left: 30px; width: 100%;" } %></p>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.full_error :token %>
        <p>
          <%= link_to "BACK", case_path(id: @case_action.case_id), class: 'btn btn-b btn-sm mt-1 font-weight-light p-2' %>
          <%= f.submit 'ADD NOTE', class: 'btn btn-b btn-sm mt-1 font-weight-light p-2' %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</center>
