<center>
  <div class="forms-container">
    <div class="row justify-content-center">
      <div class="card-body shadow col-12 col-sm-8 m-3 p-5 rounded">
      <h3 class="mb-4">Add Your Next Action</h3>
      <%= simple_form_for [@case, @case_action] do |f| %>
        <%= f.input :title, label: 'Action:', collection: CaseAction::ACTS, input_html: { class: "input" }, placeholder: 'Add an action that needs to be completed' %>
        <%= f.input :due_date, label: 'Deadline' %>
        <%= f.full_error :token %>
        <%= link_to "BACK", case_path(@case), class: 'btn btn-success btn-sm m-2 mt-4 p-2' %>
        <%= f.submit 'ADD ACTION', class: 'btn btn-success btn-sm m-2 mt-4 p-2' %>
      <% end %>
      </div>
    </div>
  </div>
</center>


