<nav class="navbar navbar-expand-lg ml-3">
  <%= link_to "ChildConnect", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse ml-4" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto mr-4">
      <li class="nav-item active mr-2">
        <%= link_to "ADD CASES", new_case_path, class: "nav-link" %>
      </li>
      <li class="nav-item active mr-2">
        <%= link_to "VIEW CASES", cases_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "EDIT PROFILE", edit_user_registration_path, class: "nav-link" %>
          <%= link_to "LOG OUT", destroy_user_session_path, class: "nav-link" %>
        </div>
      </li>
    </ul>
  </div>
</nav>
